<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="static/js/echarts.min.js"></script>
    <title>Title</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <th scope="col">岗位名称</th>
    <th scope="col">岗位需求量</th>
    <th scope="col">月薪中位数</th>
    <th scope="col">应届生需求量</th>
    <th scope="col">本科生需求量</th>
    <th scope="col">本科生岗位占比</th>
    <th scope="col">词云图</th>
    <th width="22" id="ye" scope="col">2</th>
</thead>
</table>
<br>
<br>
<br>
<table class="table" class="text-center">
    <thead class="text-center">
        <th class="text-right" >
            <input name="上一页" id="上一页" value="上一页" onclick="shangyiye()">
        </th>
        <th class="text-left">
            <input name="下一页" id="下一页" value="下一页" onclick="xiayiye()">
        </th>
    </thead>
</table>
<script>
    function shangyiye(){
    alert("syy");
	page = document.getElementById('ye').innerHTML
	zpage = document.getElementById('zye').innerHTML

	page = --page
	if(page==0){
		page = zpage;
	}
	document.getElementById("ye").innerHTML=page;
	document.getElementById("zye").innerHTML=zpage;
	tianzhi(page);
}

function xiayiye(){
    alert("xyy");
	page = document.getElementById('ye').innerHTML
	zpage = document.getElementById('zye').innerHTML

	page = ++page

	if(page>zpage){
		page = 1;
	}
	document.getElementById("ye").innerHTML=page;
	document.getElementById("zye").innerHTML=zpage;
	tianzhi(page);

}
function tianzhi(page){
    var i=0
    alert(i);
    i = 0-(page-1)*10
    alert(i);

    {% for row in top_job_list %}
        i++;
        if (i>0 & i<=10) {
            document.getElementById("cell_"+i.toString()+"1").innerText = "{{row}}";
        }
    {% endfor %}

    i=0-(page-1)*10
    {% for row in data%}
        i++;
        if (i>0 & i<=10) {
            document.getElementById("cell_"+i.toString()+"2").innerText = "{{row.0.TN}}";
            document.getElementById("cell_"+i.toString()+"3").innerText = "{{row.0.MMSM}}";
            document.getElementById("cell_"+i.toString()+"4").innerText = "{{row.1.TN}}";
            document.getElementById("cell_"+i.toString()+"5").innerText = "{{row.2.TN}}";
            document.getElementById("cell_"+i.toString()+"6").innerText = "{{row.3.rate}}";
        }
    {% endfor %}

</script>
</body>
</html>